.rdg.grid-wrapped .rdg-cell {
   line-height: 1.4rem !important;
   white-space: normal !important;
}

.grid-var-height {
  grid-template-rows: 35px !important;
  grid-auto-rows: max-content !important;

}
.grid-var-height .rdg-cell {
    contain: none !important;
}

/* .rs-flex-box-grid-item {
  background-color: red;
} */

.dropzone {
  border: 2px dashed #aaa;
  border-radius: 5px;
  background: white;
  padding: 15px;
  width: 200px;
  min-height: 100px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  font-weight: bold;
  display: flex;
  align-items: center;
}